
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

.containerbod{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(https://c4.wallpaperflare.com/wallpaper/633/523/640/fantasy-art-digital-art-artwork-blood-wallpaper-preview.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
            .card{
                /* background: #fff;
                width: 70%;
                max-width:520px;
                height: 565px;
                margin: 0 auto;
                position: relative;
                margin-top: 8%;
                border-radius: 10px;
                box-shadow: 2px 5px 20px rgb(119, 119, 119,.5); */
                width: 430px;
                width: 574px;
                padding: 7px 9px;
                border: 2px solid regba(6,25,57,5);
                background: transparent;
                backdrop-filter: blur(20px);
                box-shadow: 0 0 20px 3px #e96d6db5;
               
                border-radius: 23px;
                
                margin-top:8%;
            }
            .card-title{
              font-size: 36px;
              color: #b9c2c9;
              font-weight: bolder;
              text-align: center;
              text-transform: uppercase;
            }
            .reqh{
              font-weight:900;
              text-align:center;
              text-shadow:0 2px 3px rgba(0,0,0,0.2);
              width:100%;
              padding:5% 10% 0 10%;
            }
            .reqh h3{
              font-family: 'Josefin Sans', sans-serif;
            }
            .btn  {
                border: none;
                padding: 7px 218px;
                font-size: 1rem;
                margin-top: 16px;
                background: transparent;
                color: #ebe7e7;
                box-shadow: 0 0 10px rgb(96 48 48 / 80%);
                text-transform: uppercase;
                border: 2px solid #5e0a0d;
                cursor: pointer;
                transition: all 0.7s;
                border-radius: 100px;
                 
                transform: translateY(-5px);
              }
        
              .btn:hover {
                color: #d4bebe;
                background: #5e0a0d;
              }
              /* .second  {
                transition: all 0.7s;
                z-index: -1;
              }
              .third {
                transition: all 0.7s;
                z-index: -1;
              }
              */
              /* .btn .second {
                content: "";
                position: absolute;
                left: 25%;
                top: -100%;
                height: 100%;
                width: 25%;
                background: #fd5c63;
              }
        
              .btn:hover .second {
                top: 0;
                left: 50%;
              }
        
              .btn .third {
                content: "";
                position: absolute;
                left: 50%;
                height: 100%;
                top: 100%;
                width: 25%;
                background: #fd5c63;
              }
        
              .btn:hover .third {
                top: 0;
                left: 25%;
              }
 */


              .form-control-1 {
               
                height: 40%;
                background: transparent;
                border: 2px solid rgb(205 110 110 / 50%);
                outline: none;
                border-radius: 40px;
                font-size: 16px;
                padding: 24;
                color: #fff;
                padding: 20px;
                transition: all 0.4s;
              }
            
              .form-control-1::placeholder{
                color: #eee1e1;
              }
              #id_confirm_password::placeholder {
                color: #eee1e1;
            }
            #id_password::placeholder {
              color: #eee1e1;
          }
          .custmselect  {
            color: #ebe7e7 !important;  /* Set the color of the placeholder option */
            background-color: #8b0508bf !important;
          }
              .wra{
                width: 517px;
                background: #fff;
                padding: 17px;
                 
              }
              .wrapper .input-data{
                height: 40px;
                width: 100%;
                position: relative;
              }
              .wra .input-data input{
                height: 100%;
                width: 100%;
                border: none;
                font-size: 17px;
                border-bottom: 2px solid silver;

              }
             .input-data input:focus ~ label,
             .input-data input:valid ~ label{
              transform: translateY(-20px);
              font-size: 15px;
              color: #4158d0;
             }
              .wra .input-data label{
                position: absolute;
                bottom: -5px;
                left: 15px;
                color: grey;
                pointer-events: none;
              }
              .wra .input-data .underline{
                position: absolute;
                bottom: 0px;
                height: 2px;
                width: 100%;
                background: gray;

              }
              .input-data .underline::before{
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background: #4158d0;
                transform: scaleX(0);
                transition: transform 0.3s ease;
              }
              .input-data input:focus ~ .underline::before,
              .input-data input:valid ~ .underline::before{
                transform: scaleX(1);
              }

              .gender-cont{
                position:relative;
                display:flex;
                gap:20px;
              }
               .label-cont{
                position:relative;
                padding: 9px 34px 7px 17px;
                display:flex;
                justify-content:center;
                align-items: center;
                gap:5px;
                font-weight:500;
                cursor:pointer;
                user-select:none;
                }
                .custominput{
                  appearance:none;
                  }
                 .tick{
                    position:relative;
                    width:20px;
                    height:20px;
                    /* background: #1b9697; */
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    }

                    .tick::before{
                      content:'';
                      position:absolute;
                      width:100%;
                      height:2px;
                      background:#727171;
                      transform:rotate(45deg);
                      transition:0.5s;
                      }
                      .tick::after{
                        content:'';
                        position:absolute;
                        width:100%;
                        height:2px;
                        background:#727171;
                        transform:rotate(315deg);
                        transition:0.5s;
                        }
                         .custominput:checked ~ .tick::before{
                          width:50%;
                          transform:rotate(45deg) translate(-4px,9px);
                          }
                           .custominput:checked ~ .tick::before,
                           .custominput:checked ~ .tick::after{
                          background:#dbd7d7;
                          }

                            .label-cont .choice{
                            color:#c9c7c7;
                            transition:0.5s;
                            }
                            .label-cont .choice::before{
                            content:'';
                            position:absolute;
                            top:0;
                            left:0;
                            /* border:3px solid #4a4c4e; */
                            width:100%;
                            height:100%;
                            border-radius:30px;
                            box-sizing:border-box;
                            pointer-events: none;
                            }
                            .label-cont:hover .choice::before{
                            border:3px solid var(--clr);
                            }
                            .label-cont .custominput:checked ~ .choice::before{
                            /* background:var(--clr); */
                            border:3px soild var(--clr);
                            /* box-shadow:0 0 20px var(--clr),0 0 60px var(--clr); */
                            }
                            /* .label-cont .custominput:checked ~ .choice{
                            color:#333;
                            } */


                            .form-text{
                              color:#cabdbd !important;
                              padding-left: 10px;
                            }
                            